* {
  background-color: black;
  color: white;
  font-family: "Arial", "Helvetica", sans-serif;
  max-width: 800px;
  text-align: center;
}

.header {
  line-height: 10px;
  border-bottom: 2px solid white;
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/* html {
  background-color: #070721;
  color: #f0f0fc;
  font-family: "Courier New", "Courier", monospace;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

head {
  font-size: 400%;
}

body {
  font-size: 200%;
}

.blog {
  text-align: left;
}
*/