/* Universal Style Default */
* {
  background-color: black;
  font-family: "Courier New", "Courier", Monospace;
  color: white;}

html {
  line-height: 10px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  width: 90%;}

/* Class Selectors */
.header {
  border-bottom: 2px solid white;
  margin-bottom: 20px;}

/* Special Formatting */
button {
  border-bottom: 1px solid white;
  border-left: 4px solid white;
  border-top: transparent;
  border-right: transparent;
  background-color: black;
  display: inline-block;
  font-size: 36px;
  margin-bottom: 40px;
  min-height: 150px;
  padding: 30px;
  width: 75%;}

div {
  display: flex auto;
  flex-basis: 100%;}

a {
  text-decoration: none;}

/* Basic Text Formatting */
h1 {
  font-size: 72px;
  line-height: 40px;}

h2 {
  font-size: 36px;
  font-style: italic;}

h3 {
  font-size: 18px;
  text-decoration: underline;}

p, li {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: justify;
  width: 100%;}

li {
  margin-bottom: 8px;
  }