* {
  background-color: #070721;
  color: #f0f0fc;
  font-family: "Courier New", Courier, monospace;
  text-align: center;}

head {
  font-size: 400%;}

body {
  font-size: 200%;}

.blog {
  text-align: justified;}
